.page_content{
    min-height: 360px;
    padding: 20px 150px 60px 150px;
}
.sidebar{
    display: flex;
    background-color: #013c6f;
    height: 100%;
}
.sidebar .sidebar_content{
    margin-top: 40px;
}
.sidebar .sidebar_content .anticon {
    padding: 13px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.sidebar .sidebar_content .anticon:hover {
    background-color: #ffffff2e;
}
.ant-layout-header{
    background-color: #0371c5;
}
.header_title{
    padding: 0 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header_actions {
    display: flex;
    align-items: center;
}
.header_actions span{
    margin: 0;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
.header_actions span:hover {
    background-color: #ffffff2e;
}
.header_actions .text {
    border-right: 1px solid #ffffff87;
    padding-right: 20px;
    margin-right: 10px;
    cursor: default;
}
.page_header_performance{
    margin-top: 24px;
}
.page_header{
    padding: 0 10px;
    background-color: #edecec;
    color: #8f8f8f;
    height: 45px;
    font-size: 25px;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
}
.header_title h1 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}
.page_filters{
    border: solid 1px #e2e2e2;
    width: 270px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.page_filters .item{
    padding: 10px;
    display: flex;
    flex-direction: row;;
}
.page_filters p{
   margin: 0 10px 5px;
}

.page_quality_score p {
    color: white;
    padding: 5px;
    align-items: center;
    margin: 0 5px 0 5px;
}
.pie_chart{
    border: solid 1px #dfdfdf;
    margin: 0 10px 15px 0;
    cursor: pointer;
    border-radius: 5px;
}
.pie_chart .recharts-wrapper {
    cursor: pointer !important;
}
.pie_chart.inactive{
    border: solid 1px #e7e7e7;
}
.pie_chart.active {
    background-color: #f1fafe;
    border: solid 1px #0371c5;   
}
.labels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.label {
    text-align: center;
    cursor: pointer;
}
.label.day_label{
    background-color: #c0dcf1;
    width: 40px;
}
.label.inactive_label{
    background-color: #0371c5;
    width: 60px;
}
.label.active_label{
    background-color: #06426f;
    width: 60px;
}
@media screen and (max-width: 800px){
    .page_content{
        min-height: 600px;
        padding: 15px;
    }
    .sidebar .sidebar_content p {
        font-size: 12px;
    }
    .header_title{
        display: flex;
        flex-direction: column;
        line-height: 10px;
        justify-content: space-around;
        padding: 5px 10px;
        height: 65px;
    }
    .header_actions span{
        margin: 0 2px 0 2px;
        padding: 1px;
        font-size: 15px
    }
    .page_header_performance{
        font-size: 15px;
    }
    .page_header{
        height: 20px;
        font-size: 15px;
    }
    .header_title h1 {
        margin: 0px;
    }
    .filers{
        font-size: 10px;
    }
    .page_filters{
        border: solid 1px #e2e2e2;
        width: 250px;
        margin-bottom: 7px;
    }
    .page_filters .item{
        padding: 5px;
    }
    .page_filters p{
        margin: 0 5px 5px;
        font-size: 12px;
    }
    .page_quality_score h1{
        font-size: 14px;
    }
    .page_quality_score p {
        font-size: 10px;
        padding: 0px;
        margin: 0 0px 10px 5px;
    }
    .pie_chart{
        margin-bottom: 5px;
    }
    .day_label{
        width: 30px;
    }
    .inactive_label{
        width: 40px;
    }
    .active_label{
        width: 40px;
    }
    .recharts-wrapper {
        margin-top: 50px;
        max-width: 100%;
        overflow: scroll;
    }
}

@media screen and (max-width: 1000px){
    .page_content {
        padding: 50px;
    }
}