.page_content{
    min-height: 360px;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.sidebar{
    display: flex;
    background-color: #013c6f;
    height: 100%;
}
.sidebar .sidebar_content{
    margin-top: 40px;
}
.sidebar .sidebar_content p {
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.site_header{
    background-color: #0371c5;
}
.header_title{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header_icons span{
    margin: 0 5px 0 5px;
    padding: 3px;
    font-size: 16px
}
.page_header_performance{
    margin-top: 24px;
}
.page_header{
    background-color: #edecec;
    color: #8f8f8f;
    height: 45px;
    font-size: 25px;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
}
.header_title h1 {
    color: white;
    marginLeft: 10px;

}
.page_filters{
    border: solid 1px #e2e2e2;
    width: 270px;
    margin-bottom: 20px;
}
.page_filters div{
    padding: 10px;
    display: flex;
    flex-direction: row;;
}
.page_filters p{
   margin: 0 10px 5px;
}
.page_quality_score div{
    display: inline-flex;
    flex-direction: row;;
}
.page_quality_score p {
    color: white;
    padding: 5px;
    align-items: center;
    margin: 0 5px 0 5px;
}
.pie_chart{
    border: solid 2px #dfdfdf;
    margin: 0 10px 15px 0;
    cursor: pointer;
}
.pie_chart.active{
    background-color: #f1fafe;
    border: solid 3px #0371c5;
}
.day_label{
    background-color: #c0dcf1;
    width: 40px;
}
.inactive_label{
    background-color: #0371c5;
    width: 60px;
}
.active_label{
    background-color: #06426f;
    width: 60px;
}
@media screen and (max-width: 800px){
    .page_content{
        min-height: 600px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 10px;
    }
    .sidebar .sidebar_content p {
        font-size: 12px;
    }
    .header_title{
        display: flex;
        flex-direction: column;
        line-height: 10px;
        justify-content: space-around;
        padding: 0 10px;
        height: 80px;
    }
    .header_icons span{
        margin: 0 2px 0 2px;
        padding: 1px;
        font-size: 12px
    }
    .page_header_performance{
        font-size: 15px;
    }
    .page_header{
        height: 20px;
        font-size: 15px;
    }
    .header_title h1 {
        margin: 0px;
    }
    .filers{
        font-size: 10px;
    }
    .page_filters{
        border: solid 1px #e2e2e2;
        width: 200px;
        margin-bottom: 7px;
    }
    .page_filters div{
        padding: 5px;
    }
    .page_filters p{
        margin: 0 5px 5px;
        font-size: 8px;
    }
    .page_quality_score h1{
        font-size: 14px;
    }
    .page_quality_score p {
        font-size: 10px;
        padding: 0px;
        margin: 0 0px 10px 5px;
    }
    .pie_chart{
        margin-bottom: 5px;
    }
    .day_label{
        width: 30px;
    }
    .inactive_label{
        width: 40px;
    }
    .active_label{
        width: 40px;
    }
}